.transparent {
    background: transparent;
}

ion-item::part(native) {
    background: transparent !important;
}

.title {
    font-family: 'Courgette-Regular';
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
}

.subtitle {
    display: block;
    margin: auto;
    font-family: 'CrimsonPro-VariableFont';
    font-size: 28px;
    text-align: center;
    text-decoration: solid;
}

.item {
    display: block;
    height: auto;
    margin: auto;
    //outline: 3px solid;
    max-width: 700px;
}

.card {
    display: block;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 700px;
    border-radius: 25px;
    border: 4px solid;
    border-color: lightsteelblue;
    background: transparentize($color: #ffffff, $amount: 0.10);
}

.label {
    display: inline-block;
    font-family: 'CrimsonPro-VariableFont';
    font-size: 20px;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 10px;
}

.label.ncopies {
    margin-left: 25px;
}

.input {
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    vertical-align: top;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 10px;
    max-width: 150px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.title {
    font-family: 'Courgette-Regular';
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
}

.item {
    display: block;
    height: auto;
    margin: auto;
    //outline: 3px solid;
    max-width: 700px;
}

.item.confirm {
    margin-top: 30px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.exit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}

.docname {
    margin-top: auto;
    margin-bottom: auto;
}


/*$accentcolor: #3880ff;
$lightcolor: #f4f5f8;
$darkcolor: #222428;

.doc {
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 10px;
}

.labelhidden {
    margin: auto;
    margin-right: unset;
}*/