.title {
    font-family: 'Courgette-Regular';
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
}

.subtitle {
    display: block;
    margin: auto;
    font-family: 'CrimsonPro-VariableFont';
    font-size: 28px;
    text-align: center;
    text-decoration: solid;
    color: black;
}

.item {
    display: block;
    height: auto;
    margin: auto;
    //outline: 3px solid;
    max-width: 700px;
}

.card {
    display: block;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 700px;
}

.label {
    display: inline-block;
    font-family: 'CrimsonPro-VariableFont';
    font-size: 20px;
    color: black;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 10px;
}

.input {
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    vertical-align: top;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 10px;
    max-width: 150px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.title {
    font-family: 'Courgette-Regular';
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
}

.subtitle {
    display: block;
    margin: auto;
    font-family: 'CrimsonPro-VariableFont';
    font-size: 28px;
    text-align: center;
    text-decoration: solid;
    color: black;
}

.item {
    display: block;
    height: auto;
    margin: auto;
    //outline: 3px solid;
    max-width: 700px;
}

.card {
    display: block;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 700px;
}

.label {
    display: inline-block;
    font-family: 'CrimsonPro-VariableFont';
    font-size: 20px;
    color: black;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 10px;
}

.input {
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    vertical-align: top;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 10px;
    max-width: 150px;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.exit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}

btn sc-ion-input-md-h sc-ion-input-md-s ion-color ion-color-primary md hydrated {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}