ion-content.background {
    --background: url(/assets/images/ExpressprintLoginBackground.jpg);
}

.bar_title {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    text-decoration: solid;
}

.title {
    text-align: center;
}

.login_google_button {
    display: block;
    margin: 4% 10% 10%;
    text-align: left;
}

.google_icon {
    text-align: left;
    margin-right: 10px;
}

.login_image {
    display: block;
    block-size: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 200px;
    max-height: 30%;
    margin-top: 20px;
}

.card {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    border: 4px solid;
    border-color: lightsteelblue;
    background: transparentize($color: #ffffff, $amount: 0.10);
    max-width: 700px;
}

.input {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 25px;
}

.card-title {
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

.login-button {
    display: block;
    margin: 10% 10% 4%;
    text-align: left;
}

.register-button {
    display: block;
    margin: 0% 10% 4%;
    text-align: left;
}

.card-content {
    margin: 2%;
}

.orlabel {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.transparent {
    background: transparent;
}

.register {
    display: inline-block;
    width: -webkit-fill-available;
    margin-inline-end: inherit;
}

.register-icon {
    margin-right: auto;
}

.login {
    padding-inline-end: inherit;
    display: inline-block;
}

.separator {
    border-top: 2px solid lightsteelblue;
    margin-top: 10px;
}

.disclamer {
    display: block;
    max-width: fit-content;
}

ion-item::part(native) {
    background: transparent !important;
}