<ion-content>
    <ion-card class="card">
        <ion-card-header color="primary">
            <ion-card-title class="title">Información del pedido</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-content>
                <ion-item *ngIf="user.admin">
                    <ion-label class="label client-name">Cliente: </ion-label>
                    <ion-label class="label align-end">{{order.user.name}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="label">Realizado el día: </ion-label>
                    <ion-label class="label align-end">{{order.orderDate | date: 'dd-MM-yyyy | HH:mm'}}</ion-label>
                </ion-item>
              <ion-item>
                <ion-label class="label">Fecha recogida: </ion-label>
                <ion-label class="label align-end">{{order.pickupDate | date: 'dd-MM-yyyy | HH:mm'}}</ion-label>
              </ion-item>
                <ion-item>
                    <ion-label class="label">Número de documentos: </ion-label>
                    <ion-label class="label align-end">{{order.documents.length}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="label">Esta pagado &nbsp;</ion-label>
                    <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon"></ion-icon>
                    <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label class="label">Está listo &nbsp;</ion-label>
                    <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon"></ion-icon>
                    <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label class="label">Ha sido recogido &nbsp;</ion-label>
                    <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon"></ion-icon>
                    <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label class="label">Total del pedido: </ion-label>
                    <ion-label class="label align-end">{{order.finalPrice | currency: 'EUR':'symbol':'1.2-2':'es'}}</ion-label>
                </ion-item>
                <ion-label class="subtitle">Documentos del Pedido</ion-label>
                <ion-item *ngFor="let document of order.documents; let i=index">
                    <ion-label class="label">Enlace al documento: </ion-label>

                    <ion-button href="{{document.url}}" target="_blank">
                        <ion-icon class="align-end" name="document-attach-outline"></ion-icon>
                    </ion-button>

                </ion-item>
            </ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>
