<ion-content>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title> Nuevo pedido </ion-title>
        </ion-toolbar>
    </ion-header>
 
    <form [formGroup]="orderForm" (submit)="addOrder()">
      <div>
        <div style="margin-left:25%;" class="material-textfield blue">
          <input formControlName="nCopies" type="number" required/>
          <label data-content="Número de copias"></label>
        </div>
      </div>
      <div>
        <h1>Color</h1>
        <fieldset style="border: none !important">
          <div class="radiobtn">
            <input formControlName="isColor" type="radio" id="b" name="isColor" value="false" />
            <label for="b">Blanco/Negro</label>
          </div>

          <div class="radiobtn">
            <input formControlName="isColor" type="radio" id="c" name="isColor" value="true" />
            <label for="c">A color</label>
          </div>
        </fieldset>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Tamaño de papel</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input formControlName="size" type="radio" id="a3" name="size" value="a3" />
              <label for="a3">A3</label>
            </div>

            <div class="radiobtn">
              <input formControlName="size" type="radio" id="a4" name="size" value="a4" />
              <label for="a4">A4</label>
            </div>

            <div class="radiobtn">
              <input formControlName="size" type="radio" id="a5" name="size" value="a5" />
              <label for="a5">A5</label>
            </div>
        </div>
        <div>
          <h1 class="marginh1">Grosor del papel</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input formControlName="thickness" type="radio" id="w80" name="thickness" value="80" />
              <label for="w80">80</label>
            </div>

            <div class="radiobtn">
              <input formControlName="thickness" type="radio" id="w160" name="thickness" value="160" />
              <label for="w160">160</label>
            </div>

            <div class="radiobtn">
              <input formControlName="thickness" type="radio" id="w280" name="thickness" value="280" />
              <label for="w280">280</label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Forma de impresión</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input formControlName="isTwoSides" type="radio" id="una" name="isTwoSides" value="false" />
              <label for="una">Una cara</label>
            </div>

            <div class="radiobtn">
              <input formControlName="isTwoSides" type="radio" id="doble" name="isTwoSides" value="true" />
              <label for="doble">Doble cara</label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Impresiones por cara</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input formControlName="impressionPerSide" type="radio" id="normal" name="impressionPerSide" value="normal" />
              <label for="normal">Normal</label>
            </div>

            <div class="radiobtn">
              <input formControlName="impressionPerSide" type="radio" id="twoPa" name="impressionPerSide" value="twoPa" />
              <label for="twoPa">2 Páginas</label>
            </div>

            <div class="radiobtn">
              <input formControlName="impressionPerSide" type="radio" id="twoDi" name="impressionPerSide" value="twoDi" />
              <label for="twoPa">2 Diapositivas</label>
            </div>

            <div class="radiobtn">
              <input formControlName="impressionPerSide" type="radio" id="fourDi" name="impressionPerSide" value="fourDi" />
              <label for="fourDi">4 Diapositivas</label>
            </div>

          </fieldset>
        </div>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Orientación</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input formControlName="isVertical" type="radio" id="Vertical" name="isVertical" value="true" />
              <label for="Vertical">Vertical</label>
            </div>
            <div class="radiobtn">
              <input formControlName="isVertical" type="radio" id="Horizontal" name="isVertical" value="false" />
              <label for="Horizontal">Horizontal</label>
            </div>
        </div>
      </div>

      <div class="div">
        <div>
          <h1 class="marginh1">Pasar página</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input formControlName="ringedPosition" type="radio" id="largo" name="ringedPosition" value="largo" />
              <label for="largo">Lado largo</label>
            </div>

            <div class="radiobtn">
              <input formControlName="ringedPosition" type="radio" id="corto" name="ringedPosition" value="corto" />
              <label for="corto">Lado Corto</label>
            </div>
          </fieldset>
        </div>
      </div>

      
      <div class="div">
        <div>
          <h1 class="marginh1">Acabados</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input formControlName="finishType" type="radio" id="sinacabado" name="finishType" value="sinacabado" />
              <label for="sinacabado">Sin acabado</label>
            </div>
        </div>
            <div class="radiobtn">
              <input formControlName="finishType" type="radio" id="Encuadernado" name="finishType" value="encuadernado" />
              <label for="Encuadernado">Encuadernado </label>
            </div>
        </div>
            <div class="radiobtn">
              <input formControlName="finishType" type="radio" id="grapado" name="finishType" value="grapado" />
              <label for="grapado">Grapado</label>
            </div>

            <div class="radiobtn">
              <input formControlName="finishType" type="radio" id="twoagu" name="finishType" value="twoagu" />
              <label for="twoagu">2 Agujeros </label>
            </div>
            <div class="radiobtn">
              <input formControlName="finishType" type="radio" id="fouragu" name="finishType" value="fouragu" />
              <label for="corto">4 Agujeros </label>
            </div>
          </fieldset>
        </div>
        <ion-button type="submit" expand="block" style="width: 100%;">Enviar pedido</ion-button>
    </form>
</ion-content>