<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Nuevo pedido </ion-title>
    </ion-toolbar>
  </ion-header>

 
    <form>
      <div>
        <div style="margin-left:25%;" class="material-textfield blue">
          <input type="number" required/>
          <label data-content="Número de copias"></label>
        </div>
      </div>
      <div>
        <h1>Color</h1>
        <fieldset style="border: none !important">
          <div class="radiobtn">
            <input type="radio" id="b" name="b" value="b" />
            <label for="b">Blanco/Negro</label>
          </div>

          <div class="radiobtn">
            <input type="radio" id="c" name="b" value="c" />
            <label for="c">A color</label>
          </div>
        </fieldset>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Tamaño de papel</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input type="radio" id="a3" name="drone" value="a3" />
              <label for="a3">A3</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="a4" name="drone" value="a4" />
              <label for="a4">A4</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="a5" name="drone" value="a5" />
              <label for="a5">A5</label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Grosor del papel</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input type="radio" id="w80" name="grosor" value="80" />
              <label for="w80">80</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="w160" name="grosor" value="160" />
              <label for="w160">160</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="w280" name="grosor" value="280" />
              <label for="w280">280</label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Forma de impresión</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input type="radio" id="una" name="nCaras" value="una" />
              <label for="una">Una cara</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="doble" name="nCaras" value="doble" />
              <label for="doble">Doble cara</label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Impresiones por cara</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input type="radio" id="normal" name="impresionesCara" value="normal" />
              <label for="normal">Normal</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="twoPa" name="impresionesCara" value="twoPa" />
              <label for="twoPa">2 Páginas</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="twoDi" name="impresionesCara" value="twoDi" />
              <label for="twoPa">2 Diapositivas</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="fourDi" name="impresionesCara" value="fourDi" />
              <label for="fourDi">4 Diapositivas</label>
            </div>

          </fieldset>
        </div>
      </div>
      <div class="div">
        <div>
          <h1 class="marginh1">Orientación</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input type="radio" id="Automatica" name="Orientacion" value="Automatica" />
              <label for="Automatica">Automática</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="Vertical" name="Orientacion" value="Vertical" />
              <label for="Vertical">Vertical</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="Horizontal" name="Orientacion" value="Horizontal" />
              <label for="Horizontal">Horizontal</label>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="div">
        <div>
          <h1 class="marginh1">Pasar Página</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input type="radio" id="largo" name="pasarpagina" value="largo" />
              <label for="largo">Lado largo</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="corto" name="pasarpagina" value="corto" />
              <label for="corto">Lado Corto</label>
            </div>
          </fieldset>
        </div>
      </div>

      
      <div class="div">
        <div>
          <h1 class="marginh1">Acabados</h1>
          <fieldset style="border: none !important">
            <div class="radiobtn">
              <input type="radio" id="sinacabado" name="Acabados" value="sinacabado" />
              <label for="sinacabado">Sin acabado</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="Encuadernado" name="Acabados" value="encuadernado" />
              <label for="Encuadernado">Encuadernado </label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="grapado" name="Acabados" value="grapado" />
              <label for="grapado">Grapado</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="twoagu" name="Acabados" value="twoagu" />
              <label for="twoagu">2 Agujeros </label>
            </div>
            <div class="radiobtn">
              <input type="radio" id="fouragu" name="Acabados" value="fouragu" />
              <label for="corto">4 Agujeros </label>
            </div>
          </fieldset>
        </div>
      </div>
      <ion-button type="submit" expand="block" style="width: 100%;">Enviar pedido</ion-button>
    </form>
  </ion-content>

