$accentcolor: #fcae2c;
$lightcolor: #fff;
$darkcolor: #444;
h1 {
    margin-left: 25px;
}

.marginh1 {
    margin-top: 10px;
}

form {
    max-width: 100%;
    position: absolute;
    margin-top: 30px;
    font-size: 15px;
}

.margin-left {
    margin-left: 25px;
}

.radiobtn {
    position: relative;
    display: block;
    float: left;
    margin-left: 25px;
    margin-top: 5px;
    label {
        display: block;
        float: left;
        width: 150px;
        background: lighten($accentcolor, 30%);
        color: $darkcolor;
        border-radius: 5px;
        padding: 10px 20px;
        border: 2px solid lighten($accentcolor, 20%);
        margin-bottom: 5px;
        cursor: pointer;
        &:after,
        &:before {
            content: "";
            position: absolute;
            right: 11px;
            top: 11px;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            background: lighten($accentcolor, 15%);
        }
        &:before {
            background: transparent;
            transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
            z-index: 2;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: 13px;
            background-position: center;
            width: 0;
            height: 0;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
        }
    }
    input[type="radio"] {
        display: none;
        position: absolute;
        width: 100%;
        appearance: none;
        &:checked+label {
            background: lighten($accentcolor, 15%);
            animation-name: blink;
            animation-duration: 1s;
            border-color: $accentcolor;
            &:after {
                background: $accentcolor;
            }
            &:before {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@keyframes blink {
    0% {
        background-color: lighten($accentcolor, 15%);
    }
    10% {
        background-color: lighten($accentcolor, 15%);
    }
    11% {
        background-color: lighten($accentcolor, 20%);
    }
    29% {
        background-color: lighten($accentcolor, 20%);
    }
    30% {
        background-color: lighten($accentcolor, 15%);
    }
    50% {
        background-color: lighten($accentcolor, 20%);
    }
    45% {
        background-color: lighten($accentcolor, 15%);
    }
    50% {
        background-color: lighten($accentcolor, 20%);
    }
    100% {
        background-color: lighten($accentcolor, 15%);
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.material-textfield {
    display: inline-block;
    height: 4rem;
    padding-top: 2rem;
}

.material-textfield input {
    background: none;
    border: none;
    box-sizing: border-box;
    display: block;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    padding: 0.25rem 0.1rem;
    width: 100%;
}

.material-textfield input:invalid {
    box-shadow: none;
}

.material-textfield input:focus {
    outline: none;
}

.material-textfield label {
    display: inline-block;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0;
    pointer-events: none;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.material-textfield label::before {
    content: attr(data-content);
    position: relative;
    transition: all 0.2s ease;
    will-change: font-size, top;
}

.material-textfield label::after {
    bottom: 0.9rem;
    content: "";
    height: 0.3rem;
    left: 50%;
    position: absolute;
    transition: all 0.2s ease;
    width: 0;
    will-change: width, left;
}

.material-textfield label::before,
.material-textfield input[required]:focus~label::before {
    font-size: 0.75rem;
    top: -3.25rem;
}

.material-textfield input:focus~label::after {
    left: 0%;
    width: 100%;
}

.material-textfield input:invalid~label::before {
    font-size: 1rem;
    top: -2rem;
}

.material-textfield.blue input {
    border-bottom: 0.1rem solid #fcae2c;
    color: #fcae2c;
}

.material-textfield.blue label::after {
    background: #fcae2c;
}

.material-textfield.blue label::before,
.material-textfield.blue input[required]:focus~label::before {
    color: #fcae2c;
}

.material-textfield.blue input:invalid~label::before {
    color: #fcae2c;
}

.material-textfield.red input {
    border-bottom: 0.1rem solid #F44336;
    color: #d2190b;
}

.material-textfield.red label::after {
    background: #F44336;
}

.material-textfield.red label::before,
.material-textfield.red input[required]:focus~label::before {
    color: #f8877f;
}

.material-textfield.red input:invalid~label::before {
    color: #F44336;
}