<ion-header [translucent]="true">
    <ion-toolbar class="toolbar" color="primary">
        <ion-menu-button></ion-menu-button>
        <ion-title class="titlepage">
            Pedidos
        </ion-title>
    </ion-toolbar>
    <ion-list-header class="list-header" *ngIf="isAdmin">
        <ion-item class="list-item-header">
            <ion-label>No pagados</ion-label>
            <ion-checkbox slot="end" (ionChange)="showOnly($event, 'NotPayed')"></ion-checkbox>
        </ion-item>
        <ion-item class="list-item-header">
            <ion-label>No entregados</ion-label>
            <ion-checkbox slot="end" (ionChange)="showOnly($event, 'NotDelivered')"></ion-checkbox>
        </ion-item>
    </ion-list-header>
</ion-header>

<ion-content class="background" [fullscreen]="true">
    <ion-list class="transparent">
        <ion-item-sliding *ngFor="let order of orders; let i=index">
            <ion-item>
                <div class="flex">
                    <ion-card class="card">
                        <ion-card>
                            <ion-card-header class="card-header" color="primary">
                                <ion-card-title class="title">Número de pedido: {{order.id}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                        <ion-card-content>
                            <ion-card-title class="subtitle">
                                Avances del pedido
                            </ion-card-title>
                            <ion-card-content class="content" (click)="showOrderModal(order)">
                                <ion-item *ngIf="isAdmin">
                                    <ion-label class="label client-name">Cliente: </ion-label>
                                    <ion-label class="label align-end client-name">{{order.user.name}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Realizado el día: </ion-label>
                                    <ion-label class="label align-end">{{order.orderDate | date: 'dd-MM-yyyy'}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Número de documentos: </ion-label>
                                    <ion-label class="label align-end">{{order.documents.length}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Esta pagado</ion-label>
                                    <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon align-end"></ion-icon>
                                    <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon align-end"></ion-icon>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Está listo</ion-label>
                                    <ion-icon *ngIf="order.ready" name="checkmark-circle" class="check-icon align-end"></ion-icon>
                                    <ion-icon *ngIf="!order.ready" name="close-circle" class="close-icon align-end"></ion-icon>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Ha sido recogido</ion-label>
                                    <ion-icon *ngIf="order.pickedUp" name="checkmark-circle" class="check-icon"></ion-icon>
                                    <ion-icon *ngIf="!order.pickedUp" name="close-circle" class="close-icon"></ion-icon>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Total del pedido: </ion-label>
                                    <ion-label class="label align-end">{{order.finalPrice | currency: 'EUR':'symbol':'1.2-2':'es'}}</ion-label>
                                </ion-item>
                            </ion-card-content>
                            <div class="buttons" *ngIf="isAdmin">
                                <ion-button class="bt" shape="round" (click)="changeStatus(order, 'payed', !order.payed)">Pagado&nbsp;
                                    <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon align-end"></ion-icon>
                                    <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon align-end"></ion-icon>
                                </ion-button>
                                <ion-button class="bt" shape="round" (click)="changeStatus(order, 'ready', !order.ready)">Listo&nbsp;
                                    <ion-icon *ngIf="order.ready" name="checkmark-circle" class="check-icon align-end"></ion-icon>
                                    <ion-icon *ngIf="!order.ready" name="close-circle" class="close-icon align-end"></ion-icon>
                                </ion-button>
                                <ion-button class="bt" shape="round" (click)="changeStatus(order, 'pickedUp', !order.pickedUp)">Recogido&nbsp;
                                    <ion-icon *ngIf="order.pickedUp" name="checkmark-circle" class="check-icon align-end"></ion-icon>
                                    <ion-icon *ngIf="!order.pickedUp" name="close-circle" class="close-icon align-end"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>