<ion-header [translucent]="true">
    <ion-toolbar class="toolbar" color="primary">
        <ion-title class="titlepage">
            Pedidos
        </ion-title>
    </ion-toolbar>
    <ion-list-header class="list-header" *ngIf="isAdmin">
        <ion-item>
            <ion-label>No pagados</ion-label>
            <ion-checkbox slot="end" (ionChange)="showOnly($event, 'NotPayed')"></ion-checkbox>
        </ion-item>
        <ion-item class="list-item-header">
            <ion-label>No entregados</ion-label>
            <ion-checkbox slot="end" (ionChange)="showOnly($event, 'NotDelivered')"></ion-checkbox>
        </ion-item>
    </ion-list-header>
</ion-header>

<ion-content class="background" [fullscreen]="true">
    <ion-list class="transparent">
        <ion-item-sliding *ngFor="let order of orders; let i=index">
            <ion-item (click)="showOrderModal(order)">
                <div class="flex">
                    <ion-card class="card">
                        <ion-card>
                            <ion-card-header class="card-header" color="primary">
                                <ion-card-title class="title">Número de pedido: {{order.id}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                        <ion-card-content>
                            <ion-card-title class="subtitle">
                                Avances del pedido
                            </ion-card-title>
                            <ion-card-content>
                                <ion-item *ngIf="user.isAdmin">
                                    <ion-label class="label client-name">Cliente: {{order.user.name}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Realizado el día: {{order.orderDate | date: 'dd-MM-yyyy'}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Número de documentos: {{order.documents.length}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Esta pagado &nbsp;
                                        <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon"></ion-icon>
                                        <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon"></ion-icon>
                                    </ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Está listo &nbsp;
                                        <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon"></ion-icon>
                                        <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon"></ion-icon>
                                    </ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Ha sido recogido &nbsp;
                                        <ion-icon *ngIf="order.payed" name="checkmark-circle" class="check-icon"></ion-icon>
                                        <ion-icon *ngIf="!order.payed" name="close-circle" class="close-icon"></ion-icon>
                                    </ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="label">Total del pedido: {{order.finalPrice | currency: 'EUR':'symbol':'1.2-2':'es'}}</ion-label>
                                </ion-item>
                            </ion-card-content>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>