ion-content.background {
    --background: url(/assets/images/ExpressprintBackground.jpg);
}

.transparent {
    background: transparent;
}

.list-header {
    background-color: white;
    width: 100%;
    margin: auto;
}

.list-item-header {
    display: inline-block;
    width: 50%;
    margin: auto;
}

ion-item::part(native) {
    background: transparent !important;
}

.card-header {
    display: block;
}

.flex {
    flex: 1 1 0%;
}

.card {
    display: block;
    height: auto;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: transparentize($color: #ffffff, $amount: 0.15);
    border-radius: 25px;
    border: 4px solid;
    border-color: lightsteelblue;
    background: transparentize($color: #ffffff, $amount: 0.10);
}

.title {
    font-family: 'Courgette-Regular';
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
}

.subtitle {
    display: block;
    margin: auto;
    font-family: 'Courgette-Regular';
    font-size: 24px;
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
}

.label {
    font-family: 'CrimsonPro-VariableFont';
    font-size: 20px;
    color: black;
    text-align: start;
    margin-top: auto;
    margin-bottom: auto;
}

.align-end {
    text-align: end;
}

.client-name {
    font-weight: bold;
}

.check-icon {
    color: green;
    vertical-align: middle;
}

.check-icon {
    color: green;
    vertical-align: middle;
}

.close-icon {
    color: red;
    vertical-align: middle;
}

.titlepage {
    font-family: 'Courgette-Regular';
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}

.toolbar {
    border-radius: 25px 25px 0 0;
    border-top: 4px solid;
    border-color: lightsteelblue;
    background: transparentize($color: #ffffff, $amount: 0.10);
    width: 100%;
    vertical-align: middle;
}

.toolbar ion-menu-button {
    display: inline-block;
    width: 10%;
    height: 100%;
    align-self: center;
    vertical-align: middle;
}

.buttons {
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bt {
    --background: #3880fff5;
}

.content:hover {
    cursor: pointer;
}